extends /templates/core/modal-base-flat

block modal-header-content
  .text-center
    h3(data-i18n="TODO")
      | Purchase Starter Licenses

block modal-body-content
  p(data-i18n="TODO")
    | Starter Licenses can be used to assign additional courses immediately after purchase.
  
  .text-center.input-row.m-t-3.m-b-3
    input(name="quantity", type="number", min=0, max=state.get('quantityAllowedToPurchase'), value=state.get('quantityToBuy'))
    span x
    span.dollar-value.render= view.getDollarsPerStudentString()
    span =
    span.dollar-value.render= view.getTotalPriceString()
  
  .text-center.render
    - var quantityIsValid = (state.get('quantityToBuy') > 0)
    button.pay-now-btn.btn-lg.btn-navy(disabled=!quantityIsValid, className=(quantityIsValid ? 'disabled' : ''))
      span(data-i18n="TODO")
        | Pay Now
  
  p.text-center.m-t-1(data-i18n="TODO")
    | We accept all major credit cards.
  
  p.text-center.purchase-progress-message.render
    = state.get('purchaseProgressMessage')
  
  p.small.m-t-5(data-i18n="TODO")
    span= translate('special_offer.license_limit_description', view.i18nData())

block modal-footer
